$black: #333333;
$green: #3C763D;
$white: #FFFFFF;

.index-page {
  margin-top: 1.5%
}

.login-form {
  height: auto;
  margin: 0 auto;
  padding-top: 16.3%;
  form {
    padding-top: 2.5%;
    button {
      float: right;
    }
  }
}

.list-group {
  margin-left: -15px;
}

.list-group-item {
  .permissions {
    opacity: 0;
    transition-duration: 0.3s;
  }
  &:hover > .permissions {
    opacity: 1;
    transition-duration: 0.3s;
    color: $green;
  }
  a.edit-object {
    text-decoration: none;
    color: $black;
  }
  a:not(.edit-object) {
    margin-left: 1%;
    span {
      font-size: 1.25em;
    }
  }
  &.active:hover > .permissions {
    opacity: 1;
    transition-duration: 0.3s;

  }
  .glyphicon {
    margin-right: 2.63%
  }
  .glyphicon-home {
    color: $green;
  }
}

.sub-item > span {
  margin-left: 3%;
  color: $black
}