$black: #333333;
$green: #3C763D;
$white: #FFFFFF;

@mixin span-style($color) {
  opacity: 1;
  color: $color;
  transition-duration: 0.3s;
}

.index-page {
  margin-top: 1.5%
}

.login-form {
  height: auto;
  margin: 0 auto;
  padding-top: 16.3%;
  form {
    padding-top: 2.5%;
    button {
      float: right;
    }
  }
}

.list-group {
  .edit-item, .permissions {
    opacity: 0;
    transition-duration: 0.3s;
    margin-left: 1%
  }
  &:hover > .list-group-item .edit-item {
    @include span-style($black)
  }
  .list-group-item:hover > .permissions {
    @include span-style($green);
    margin-left: 1%
  }
  .glyphicon {
    margin-right: 2.63%;
    font-size: 1.75rem;
  }
  .glyphicon-home {
    color: $black
  }
  a {
    text-decoration: none;
    color: $black
  }
}

.sub-item > span {
  margin-left: 3%;
  color: $black
}