$black: #333333;
$white: #FFFFFF;
$blue: #337AB7;
$light-grey: #ececec;

.list-group {
  .glyphicon-edit {
    opacity: 0;
    transition-duration: 0.3s;
    margin-left: 1%;
  }
  .active:hover .glyphicon-edit {
    opacity: 1;
    color: $white;
  }
  &-item:hover .glyphicon-edit {
    opacity: 1;
  }
  .active a {
    color: $white
  }
  .glyphicon {
    margin-right: 2.63%;
    font-size: 1.75rem;
  }
  .glyphicon-home {
    color: $black
  }
  a {
    text-decoration: none;
    color: $black
  }
}

select[readonly] {
  cursor: not-allowed;
}

.grey {
  background-color: $light-grey;
}

.text-info {
  margin-top: 2.36% !important;
}

hr {
  margin-bottom: 10px;
}

.btn-group-vertical.stat {
  width: 100%;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
}