{% extends 'base/base.html' %}

{% block content %}
    {% if inst %}
        <p>{{ inst.name }}</p>
    {% else %}
        <p>{{ build.name }}</p>
    {% endif %}
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">Користувач</label>
            <div class="col-sm-8">
                <select name='u' class="form-control">
                    {% for des in descendants %}
                        <option value={{ des.id }}>{{ des.get_full_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Право</label>
            <div class="col-sm-8">
                <select name='p' class="form-control">
                    {% for per in permissions %}
                        <option value={{ per }}>{{ per }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-1">
                <button type="submit" class="btn btn-default">Надати право</button>
            </div>
        </div>
    </form>
    <div class="col-sm-offset-2 col-sm-8">
        <div class="list-group">
            <p>Права, що надані Вашим підлеглим:</p>
            {% for item in list %}
                {% if item.perms|length > 0 %}
                    {% if inst %}
                        <a href="{% url 'remove_inst_perms' inst.id item.name.id %}"
                       class="list-group-item list-group-item-success">{{ item.name.get_full_name }}</a>
                    {% else %}
                        <a href="{% url 'remove_build_perms' build.id item.name.id %}"
                       class="list-group-item list-group-item-success">{{ item.name.get_full_name }}</a>
                    {% endif %}
                    {% for perm in item.perms %}
                        <li href="#" class="list-group-item">{{ perm }}</li>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}