{% extends 'base/base.html' %}
{% load bootstrap3 %}

{% block content %}
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="{% url 'index' %}">Головна</a></li>
            {% if type == '1' %}
                <li>Додати заклад</li>
            {% elif type == '2' %}
                <li>Додати будівлю</li>
            {% elif type == '3' %}
                <li>Додати тип компоненту</li>
            {% elif type == '4' %}
                <li>Додати тип характеристики</li>
            {% elif type == '5' %}
                <li>Додати тип лічильника</li>
            {% elif type == '6' %}
                <li>Додати тариф</li>
            {% endif %}
        </ol>
    </div>

    <div class="col-sm-offset-2 col-md-7">
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    Додати
                </button>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}