{% extends 'base/base.html' %}
{% load bootstrap3 %}

{% block content %}
    <li><a href="{% url 'index' %}">Головна</a></li>
    {% if type == '1' %}
        <li>Додати заклад</li>
    {% else %}
        <li>Додати будівлю</li>
    {% endif %}
    <li>{{ user.get_full_name }}</li>
    <div class="col-sm-offset-2 col-md-7">
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    Додати
                </button>
            {% endbuttons %}
        </form>
    </div>

{% endblock %}