{% extends 'base/base.html' %}
{% load bootstrap3 %}

{% block content %}
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="{% url 'index' %}">Головна</a></li>
            <li>{{ obj.name }}</li>
        </ol>
    </div>

    <div class="col-md-offset-2 col-md-7">
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    Відредагувати
                </button>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}