{% extends 'base/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-10">
        </div>
    </div>
    <div class="row index-page">
        <div class="col-md-10">
            <ul class="list-group">
                {% for build in buildings %}
                    {% ifchanged %}
                        <li class="list-group-item active"><span
                                class="glyphicon glyphicon-briefcase" aria-hidden="true"></span><a
                                href="{% url 'view_object' build.institution_id 1 %}">{{ build.institution }}</a>
                        </li>
                    {% endifchanged %}
                    <li class="list-group-item sub-item"><span
                            class="glyphicon glyphicon-home" aria-hidden="true"></span>
                        <a
                                href="{% url 'view_object' build.id 2 %}"
                                class="edit-object">{{ build.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-2">
            <div class="btn-group-vertical" role="group">
                {% if create_objects_perm %}
                    <a href='{% url 'create_object' 1 %}' class="btn btn-default">Додати заклад</a>
                    <a href='{% url 'create_object' 2 %}' class="btn btn-default">Додати будівлю</a>
                {% endif %}
                {% if create_components_perm %}
                    <a href='{% url 'create_item' 3 %}' class="btn btn-default">Додати тип компоненту</a>
                    <a href='{% url 'create_item' 4 %}' class="btn btn-default">Додати тип характеристики</a>
                    <a href='{% url 'create_item' 5 %}' class="btn btn-default">Додати тип лічильника</a>
                    <a href='{% url 'create_item' 6 %}' class="btn btn-default">Додати тариф</a>
                {% endif %}
            </div>
        </div>

    </div>
{% endblock %}