{% extends 'base/base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}Вхід{% endblock %}

{% block content %}
    <div class="row login-form">
        <div class="col-sm-6">
            <img src="{% static 'base/images/logo.png' %}" alt="logo">
        </div>
        <div class="col-sm-6">
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
                {% endbuttons %}
            </form>
        </div>

        </div>
    </div>
{% endblock %}