{% extends 'base/base.html' %}
{% load i18n %}

{% block content %}
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="{% url 'index' %}">Головна</a></li>
            <li><a href="{% url 'delegate_perms' obj.id type %}">{{ obj.name }}</a></li>
            <li>{{ user.get_full_name }}</li>
        </ol>
    </div>
    <p>Видалення прав для <b>{{ user.get_full_name }}</b> на об'єкт <b>{{ obj.name }}</b></p>
    <form action="">
        <div class="form-group">
            <label class="col-sm-1 control-label">Право</label>
            <div class="col-sm-6">
                <select name='p' class="form-control">
                    {% for per in permissions %}
                        <option value={{ per }}>{% trans per %}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-1">
                <button type="submit" class="btn btn-default">Видалити право</button>
            </div>
        </div>
    </form>
{% endblock %}