{% extends 'base/base.html' %}

{% block content %}
    <ol class="breadcrumb">
            <li><a href="{% url 'index' %}">Головна</a></li>
            {% if obj.square %}
                <li><a href="{% url 'building_perms' obj.id %}">{{ obj.name }}</a></li>
            {% else %}
                <li><a href="{% url 'institution_perms' obj.id %}">{{ obj.name }}</a></li>
            {% endif %}
            <li>{{ user.get_full_name }}</li>
        </ol>
    <p>Видалення прав для <b>{{ user.get_full_name }}</b> на об'єкт <b>{{ obj.name }}</b></p>
    <form action="">
        <div class="form-group">
            <label class="col-sm-1 control-label">Право</label>
            <div class="col-sm-6">
                <select name='p' class="form-control">
                    {% for per in permissions %}
                        <option value={{ per }}>{{ per }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-1">
                <button type="submit" class="btn btn-default">Видалити право</button>
            </div>
        </div>
    </form>
{% endblock %}