{% extends 'base/base.html' %}

{% block content %}
    <div class="row">
        {% if type == '1' %}
            <div class="row">
                <ol class="breadcrumb">
                    <li><a href="{% url 'index' %}">На головну</a></li>
                    <li>{{ obj.name }}</li>
                </ol>
            </div>

            <div class="col-md-10">
                <ul class="list-group">
                    <li class="list-group-item active"><span
                            class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>{{ obj.name }}</li>
                    {% for build in builds %}
                        {% if obj.id == build.institution.id %}
                            <li class="list-group-item"><a href="{% url 'view_object' build.id 2 %}"><span
                                    class="glyphicon glyphicon-home" aria-hidden="true"></span>{{ build.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-2">
                <div class="btn-group-vertical" role="group">
                    {% if lead_perm %}
                        <a href="{% url 'edit_object' obj.id obj.id type %}" class="btn btn-default">Редагувати
                            об'єкт</a>
                    {% endif %}
                    {% if delegate_perm %}
                        <a href="{% url 'delegate_perms' obj.id type %}" class="btn btn-default">Редагувати права</a>
                    {% endif %}
                </div>
            </div>
        {% elif type == '2' %}
            <ol class="breadcrumb">
                <li><a href="{% url 'index' %}">На головну</a></li>
                <li><a href="{% url 'view_object' obj.institution_id 1 %}">{{ obj.institution }}</a></li>
                <li>{{ obj.name }}</li>
            </ol>
            <div class="col-md-9">
                <ul class="list-group">
                    <li class="list-group-item active">{{ obj.name }}</li>
                    <li class="list-group-item"><b>Заклад: </b>{{ obj.institution }}</li>
                    <li class="list-group-item"><b>Площа: </b>{{ obj.square }}</li>
                    <li class="list-group-item"><b>Категорія: </b>{{ obj.category }}</li>
                    <li class="list-group-item"><b>Призначення: </b>{% for item in obj.purpose.all %}{{ item }}, {% endfor %}</li>
                    </li>
                    <li class="list-group-item"><b>Дата здачі в експлуатацію: </b>{{ obj.date_from }}</li>
                    <li class="list-group-item"><b>Орендодавець: </b>{% if obj.parent %}{{ obj.parent }} {% else %}
                        - {% endif %}</li>
                </ul>
            </div>
            <div class="col-md-3">
                <div class="btn-group-vertical" role="group">
                    <a href="{% url 'meter_data_view' obj.id %}" class="btn btn-default">Показники лічильників</a>
                    {% if lead_perm %}
                        <a href="{% url 'create_item_for_object' 1 obj.id %}" class="btn btn-default">Додати показник
                            лічильника</a>
                        <a href="{% url 'create_item_for_object' 5 obj.id %}" class="btn btn-default">Додати
                            лічильник</a>
                        <a href="{% url 'create_item_for_object' 2 obj.id %}" class="btn btn-default">Додати рахунок</a>
                        <a href='{% url 'create_item_for_object' 3 obj.id %}' class="btn btn-default">Додати
                            компонент</a>
                        <a href='{% url 'create_item_for_object' 4 obj.id %}' class="btn btn-default">Додати
                            характеристику</a>
                        <a href="{% url 'edit_object' obj.id obj.id 2 %}" class="btn btn-default">Редагувати об'єкт</a>
                    {% endif %}
                    {% if delegate_perm %}
                        <a href="{% url 'delegate_perms' obj.id 2 %}" class="btn btn-default">Редагувати права</a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
    <hr>
    {% if type == '2' %}
        <div class="row">
            <div class="col-md-8">
                {% if comps %}
                    {% for comp in comps %}
                        <ul class="list-group">
                            <li class="list-group-item active"><b>Компонент: </b>{{ comp }} {{ comp.type.unit }}.<a
                                    href="{% url 'edit_object' obj.id comp.id 5 %}"
                                    class="pull-right edit-item"><span
                                    class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></li>
                        </ul>
                        <ul class="list-group">
                        {% for feature in features %}
                            {% if feature.component_id == comp.id %}
                                    <li class="list-group-item">{{ feature.percentage }} % від {{ feature.feature_type }}<a
                                            href="{% url 'edit_object' obj.id feature.id 3 %}"
                                            class="pull-right edit-item"><span
                                            class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                                    </li>

                            {% endif %}
                        {% endfor %}
                        </ul>
                    {% endfor %}
                {% else %}
                    <div class="panel panel-default">
                        <div class="panel-body">
                            Компоненти відсутні
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-4">
                {% if meters %}
                    <ul class="list-group">
                        <li class="list-group-item active"><b>Лічильники</b></li>
                    </ul>
                    {% for meter in meters %}
                        <ul class="list-group">
                            <li class="list-group-item"><b>Ідентифікатор лічильника: </b>{{ meter.name }}<a
                                    href="{% url 'edit_object' obj.id meter.id 4 %}" class="pull-right edit-item"><span
                                    class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></li>
                            <li class="list-group-item"><b>Заклад: </b>{{ meter.institution }}</li>
                            <li class="list-group-item"><b>Будівля: </b>{{ meter.building }}</li>
                            <li class="list-group-item"><b>Тип лічильника: </b>{{ meter.meter_type }}</li>
                            <li class="list-group-item"><b>Орендодавець: </b>{% if  meter.parent == None %}-{% else %}{{ meter.parent }}{% endif %}</li>
                        </ul>
                    {% endfor %}
                {% else %}
                    <div class="panel panel-default">
                        <div class="panel-body">
                            Лічильники відсутні
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}

{% endblock %}